<section class="todo ng-scope" ng-controller="TodoController as todo">
  <div class="mdl-color--indigo ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Todo</h3>
      <h4 class="mdl-color-text--indigo-100 m-b-20 no-m-t w100">Manage your todo's from the dashboard or here with additional filters.</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3><i class="material-icons f-left m-r-5">format_list_numbered</i> Filters</h3>
          <p>This Todo APP uses the same service for managing todo's on the dashboard but with extended features.</p>
          <div class="m-t-30">
            <ul class="list-bordered">
              <li>
              </li>
              <li *ngFor="let filter of filters; let i = index">
                <a (click)="filterList(filter)" [ngClass]="{ 'is-active': i == activeFilter }" class="mdl-color-text--indigo">
                  <i class="material-icons m-r-5 f11">sort</i> {{ filter.title }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp demo-full-width">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Todo's</h2>
          </div>
          <div class="p-30">

            <form (ngSubmit)="onSubmit()" #todoForm="ngForm">
              
              <md-input [(ngModel)]="todo.title" placeholder="Title" class="demo-full-width"></md-input>

              <button type="submit" md-raised-button color="primary">Add</button>
              
            </form>

            <ul class="list-unstyled m-t-20" *ngIf="todos.length">
              <li *ngFor="let item of (todos | filter:activeFilter)" class="animate-repeat">
                <span (click)="toggleDone($event, item)" >
                  <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" data-upgraded=",MaterialButton">
                    <i class="material-icons mdl-color-text--green" [ngClass]="{ 'mdl-color-text--green': item.completed }">done</i>
                  </button>
                  <span [ngClass]="{ strike: item.completed }">{{item.title}}</span>
                </span>
                <button class="mdl-button mdl-js-button mdl-button--icon f-right" data-upgraded=",MaterialButton">
                  <i class="material-icons f15">edit</i>
                </button>
              </li>
            </ul>

            <div *ngIf="!todos.length">
              <p>Well done! No more todo's.</p>
            </div>

            <button type="submit" (click)="clearCompleted($event)" md-raised-button color="warn">CLEAR COMPLETED TODO'S</button>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>